<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<meta charset="ISO-8859-1">
	<title>Página de Alunos</title>
</head>
<style>
		#P{
			margin: 0px 0px 20px 0px;
		}
		#botao{
			background-color: #0a4275;
		}
		
</style>

<body>
	<div th:insert="~{layout/menu}"></div>

	<form name="alterar_aluno" class="form-horizontal" method="post" th:action="@{/alterar_aluno}"
		th:object="${alunoEntity}">
		<div class="container-fluid">
			<h2>Alterar Aluno</h2>

			<!--Começa cadastro de docentes -->
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
				<input class="form-control" type="hidden" maxlength="50" name="idAluno" th:value="${idAluno}"/>
				<div class="mb-3">
					<label for="matricula" class="form-label">Matricula</label>
					<input type="text" class="form-control" id="matricula" name="matricula" th:value="${aluno.Matricula}" required>
				</div>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" maxlength="45" id="nome" name="nome" th:value="${aluno.Nome}" required>
				</div>
				<div class="mb-3">
					<label for="telefone" class="form-label">Telefone</label>
					<input type="text" class="form-control" id="telefone" name="telefone" data-mask="(00) 0000-0000" data-mask-selectonfocus="true" th:value="${aluno.Telefone}" required>
				</div>
				
				<script type="text/javascript">
    			$("#telefone").mask("(00) 0000-0000");
    			</script>
    			
				<div class="mb-3">
					<label for="periodo" class="form-label">Periodo</label>
					<select class="form-select" aria-label="Selecione o setor" id="periodo" name="periodo" required>
						<option value="">Selecione o periodo</option>
						<option>Diurno</option>
						<option>Noturno</option>
					</select>
				</div>
				<div class="mb-e">
					<button id="botao" type="submit" class="btn btn-success form-control">Salvar</button>
				</div>
			</div>
			<!-- Termina cadastro de docentes -->
		</div>
		<br>
		
	</form>

	<div th:insert="~{layout/rodape}"></div>

</body>

</html>