<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Página de Docentes</title>
</head>

<body>
	<div th:insert="~{layout/menu}"></div>

	<form name="_docente" class="form-horizontal" method="post" th:action="@{/alterar_docente}"
		th:object="${docenteEntity}">
		<div class="container">
			<h2>Alterar Docente</h2>

			<!--Começa cadastro de docentes -->
			<div class="container">
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
				<input class="form-control" type="hidden" maxlength="50" name="idDocente" th:value="${idDocente}"/>
				<div class="mb-3">
					<label for="matricula" class="form-label">Matricula</label>
					<input type="text" class="form-control" id="matricula" name="matricula" th:value="${aluno.Matricula}" required>
				</div>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome" th:value="${aluno.Nome}" required>
				</div>
				<div class="mb-3">
					<label for="telefone" class="form-label">Telefone</label>
					<input type="text" class="form-control" id="telefone" name="telefone" th:value="${aluno.Telefone}" required>
				</div>
				<div class="mb-3">
					<label for="periodo" class="form-label">Periodo</label>
					<select class="form-select" aria-label="Selecione o setor" id="periodo" name="periodo" required>
						<option value="">Selecione o periodo</option>
						<option>Diurno</option>
						<option>Noturno</option>
					</select>
				</div>
				<div class="mb-e">
					<button type="submit" class="btn btn-success form-control">Salvar</button>
				</div>
			</div>
			<!-- Termina cadastro de docentes -->
		</div>
		<br>
		
	</form>

	<div th:insert="~{layout/rodape}"></div>

</body>

</html>