<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/cabecalho}">
	<title>Página de Alunos</title>
</head>

<body>
	<div th:insert="~{layout/menu}"></div>

	<form name="salvar_aluno" class="form-horizontal" method="post" th:action="@{/salvar_aluno}"
		th:object="${alunoEntity}">
		<div class="container">
			<h2>Alunos</h2>

			<!--Começa cadastro de docentes -->
			<div class="container">
				<div class="alert alert-sucess" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
				<div class="mb-3">
					<label for="matricula" class="form-label">Matricula</label>
					<input type="text" class="form-control" id="matricula" name="matricula" required>
				</div>
				<div class="mb-3">
					<label for="nome" class="form-label">Nome</label>
					<input type="text" class="form-control" id="nome" name="nome" required>
				</div>
				<div class="mb-3">
					<label for="telefone" class="form-label">Telefone</label>
					<input type="text" class="form-control" id="telefone" name="telefone" required>
				</div>
		
				<div class="mb-e">
					<label for="periodo" class="form-label">Perido</label>
					<select class="form-select" aria-label="Selecione o periodo" id="periodo" name="periodo" required>
						<option value="">Selecione o Periodo</option>
						<option>Diurno</option>
						<option>Noturno</option>
					</select>
				</div>
				<div class="mb-e">
					<button type="submit" class="btn btn-success form-control">Salvar</button>
				</div>
			</div>
			<!-- Termina cadastro de docentes -->
		</div>
		<!--Começa lista de docentes-->
		<br>
		<div class="container">
		<h5 class="card-title">Docentes cadastrados</h5>
		<table id="aluno" class="table table-sn table-striped table-hover table-bordered">
			<thead>
				<tr>
					<th>ID</th>
					<th>Nome</th>
					<th>Telefone</th>
					<th>Periodo</th>
					<th class="col-1"></th>
					<th class="col-1"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="aluno : ${aluno}">
					<td th:text="${aluno.IdAluno}"></td>
					<td th:text="${aluno.Nome}"></td>
					<td th:text="${aluno.Telefone}"></td>
					<td th:text="${aluno.Periodo}"></td>
					<td><a class="btn btn-sn btn-warning" th:href="@{alterar_aluno/{idAluno}(idAluno=${aluno.IdAluno})}">Alterar</a></td>
					<!--Começa o excluir-->
					<td>
						<a class="delete btn btn-sm btn-danger"
							th:href="@{excluir_aluno/{idAluno}(idAluno=${aluno.IdAluno})}"
							onclick="if (confirm('Deseja realmente excluir o aluno?')){return true;}else{event.stopPropagation();event.preventDefault();};">
							Excluir
						</a>
					</td>
					<!--Termina Exclusão-->
				</tr>

			</tbody>

		</table>
	</div>
	</form>

	<div th:insert="~{layout/rodape}"></div>

</body>

</html>